api.example.com {
  encode zstd gzip
  # 资源服务器接口
  handle /v1/download/* {
    reverse_proxy 0.0.0.0:3
  }
  handle /v1/upload/* {
    reverse_proxy 0.0.0.0:9003
  }
  handle /v1/resource/* {
    reverse_proxy 0.0.0.0:9003
  }
  # 客服系统
  handle /v1/ws/* {
    reverse_proxy 0.0.0.0:9004
  }
  # 用户接口
  reverse_proxy 0.0.0.0:9002
}

# 管理员接口
api-mag.example.com {
  reverse_proxy 0.0.0.0:9001
  encode zstd gzip
}

# 资源服务器接口
resource.example.com {
  reverse_proxy 0.0.0.0:9003
  encode zstd gzip
}