version: '3'
services:
  message-queue:
    image: alpine:3.11
    restart: always
    working_dir: /app
    volumes:
      - './message_queue_server:/app/message_queue_server'
    environment:
      - MACHINE_ID=0
      - GO_MOD=development
      # database
      - DB_HOST=172.18.71.172
      - DB_PORT=65432
      - DB_DRIVER=postgres
      - DB_NAME=gotest
      - DB_USERNAME=gotest
      - DB_PASSWORD=gotest
      # redis
      - REDIS_SERVER=172.18.71.172
      - REDIS_PORT=6379
      - REDIS_PASSWORD=password
      # message queue
      - MSG_QUEUE_SERVER=172.18.71.172
      - MSG_QUEUE_PORT=4150
      # push
      - ONE_SIGNAL_APP_ID=xxx
      - ONE_SIGNAL_REST_API_KEY=xxx
    command: ['./message_queue_server', 'start']
