<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>用户端</title>
    <!-- 引入样式 -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <style>
      li {
        list-style: none;
      }
      .green {
        color: green;
      }
      .red {
        color: red;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <el-form :model="loginForm" v-if="!ws">
        <el-form-item>
          <el-input
            type="textarea"
            :rows="2"
            placeholder="请输入用户 token"
            v-model="loginForm.token"
          ></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="login">登录</el-button>
        </el-form-item>
      </el-form>

      <template v-if="ws">
        当前 UUID: {{ uuid }}, 当前状态: {{ status }} {{ userInfo }}

        <el-row :gutter="20">
          <el-col :span="12">
            <div>
              <p v-for="m in message">
                {{ m.text }}
              </p>
            </div>

            <el-input
              type="textarea"
              :rows="2"
              placeholder="请输入消息"
              v-model="form.text"
            ></el-input>

            <el-button type="primary" @click="sendMessage">发送消息</el-button>
            <el-button type="primary" @click="disconnect">断开连接</el-button>
          </el-col>
          <el-col :span="12">
            <div>
              <p v-for="log in logs">
                {{ log.type === 'upload' ? '⬆️' : '⬇️' }}
                <span
                  :class="{'red': log.type ==='download', 'green': log.type === 'upload'}"
                >
                  {{ log.raw }}
                </span>
              </p>
            </div>
          </el-col>
        </el-row>
      </template>
    </div>

    <script>
      const domain = location.host ? location.host : 'http://localhost:9000'

      axios.defaults.baseURL = domain

      var app = new Vue({
        el: '#app',
        data: {
          ws: undefined,
          uuid: '',
          message: [],
          logs: [], // 消息记录
          loginForm: {
            token: '',
          },
          userInfo: undefined,
          form: {
            text: '',
          },
          status: '未连接',
          disconnected: false,
        },
        methods: {
          // 连接 socket
          connect() {
            const host = location.host || 'localhost:9000'
            const protocol = location.protocol === 'https:' ? 'wss:' : 'ws:'
            const socket = (this.ws = new WebSocket(
              `${protocol}//${host}/v1/ws/connect/user`,
            ))

            socket.addEventListener('open', (event) => {
              this.send({
                type: 'auth',
                payload: { token: this.loginForm.token },
              })
            })

            // Listen for messages
            socket.addEventListener('message', (event) => {
              this.handlerMessage(event.data)
            })
          },
          login() {
            this.connect()
          },
          handlerMessage(message) {
            message = message.toString().trim()
            this.logs.push({ type: 'download', raw: message })
            const msg = JSON.parse(message)

            switch (msg.type) {
              case 'auth_success':
                this.uuid = msg.to
                this.userInfo = msg.payload
                this.status = '认证成功'
                this.send({ type: 'connect', payload: {} })
                break
              case 'not_connect':
                this.$message.error('尚未连接到客服')
                break
              case 'connect_queue':
                this.status = '客服正忙，正在排队'
                break
              case 'connect_success':
                this.disconnected = true
                this.status = '已连接'
                break
              case 'disconnected':
                this.status = '已断开'
                this.disconnected = false
                this.$message.info('客服已断开连接')
                break
              case 'message_text':
                this.message.push({
                  type: 'response',
                  text: msg.payload.message,
                })
                break
            }
          },
          send(msg) {
            if (this.ws) {
              const raw = JSON.stringify(msg)
              this.logs.push({ type: 'upload', raw: raw })
              this.ws.send(raw)
            }
          },
          sendMessage() {
            if (this.ws) {
              this.message.push({
                type: 'request',
                text: this.form.text,
              })
              this.send({
                type: 'message_text',
                payload: {
                  message: this.form.text,
                },
              })
            }
          },
          disconnect() {
            this.send({
              type: 'disconnect',
              payload: {},
            })
          },
        },
        mounted() {},
      })
    </script>
  </body>
</html>
